<h2>Requested Friendships:</h2>
<ul>
<% invite_request.each do |i| %>
<li id="<%= i.id_user %>" ><strong><%= link_to User.find(i.id_user).fullname, user_path(i.id_user) %></strong>
<%= link_to 'Accept',{:controller => "users", :action => "accept", :id => i.id_user}, :class => "accept", :remote => true, :id =>i.id_user  %>
<%= link_to 'Decline', {:controller => "users", :action => "decline", :id => i.id_user}, :class => "accept", :remote => true, :id =>i.id_user %></li>
<% end %>
</ul>

