<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
					<div class="post">
          <h2 class="title">Editing user</h2>
          <%= render 'form' %>
          <%= link_to 'Back', user_path %>
          </div>
        </div>
      </div>
    </div>
</div>
