// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#left {
  border-style: solid;
  border-color: #336699;
  text-align: left;
  background-color:#70DBFF;
  width: 250px;
  height: 160px;
  padding: 10px;
}
#details {
  float: right;
  width: 242px;
}
